<div class="col-md-12">
        <h5 class="text-uppercase"> Las encuestas en tus manos</h5>
        <br><br>
          <div class="col-md-4">

              <div class="panel panel-primary">
                 <div class="panel-heading">  <a class="white-text" href="/encuestas/nuevo">  <b>Crear Nueva Encuesta </b> </a> </div>
                <div class="panel-body">
                   <p> Utilizar nuestros instuitivos y facil edición de encuestas  y obtener resultados que te ayuden a mejorar todos tus servicios en tiempo real. </p>
                </div>
              </div>

          </div>

          <div class="col-md-4">

              <div class="panel panel-primary">
                <div class="panel-heading"><a class="white-text" href="/encuestas/ver/"> <b> Ver Encuestas </b>  </a> </div>
                <div class="panel-body">
                   <p> Revisa las encuestas que haz realizados y vuelve a reutilizar si necesitas generar nuevos resultados. </p>
                </div>
              </div>

          </div>


          <div class="col-md-4">

              <div class="panel panel-primary">
                <div class="panel-heading"> <b> Analizar Resultados </b> </div>
                <div class="panel-body">
                  <p> Desde el momento que alguien responda tu encuesta podras ver los resultados sin esperar, en tiempo real. </p>
                </div>
              </div>

          </div>

      </div>