 <p class="text-uppercase"> Realiza encuestas como:</p>
				 
				 <div class="col-md-4">
				 		 <br>
						  <div>
						  		 <b> <i class="fa fa-check"></i> Satisfacción del Cliente  </b>
						  		  <div>
						  		  	 <p> Comprueba el grado de satisfacción de tus clientes con los servicios prestados de tu empresa.  </p>
						  		  </div>
						  </div>

						  <br>

						  <div>
						  		 <b> <i class="fa fa-check"></i> Test de los cursos   </b>
						  		  <div>
						  		  	 <p> Comprueba que tus cursos están cumpliendo con las exigencias del mercado laboral.  </p>
						  		  </div>
						  </div>


				 </div>

				  <div class="col-md-4">
				 		 <br>
						  <div>
						  		 <b> <i class="fa fa-check"></i> Satisfacción de tus servicios  </b>
						  		  <div>
						  		  	 <p> Comprueba si tus servicios prestados a nivel de recursos del sistema están cumpliendo con las expectativas de los clientes..  </p>
						  		  </div>
						  </div>

						  <br>

						  <div>
						  		 <b> <i class="fa fa-check"></i> Tus profesores  </b>
						  		  <div>
						  		  	 <p> Verifica que el nivel de tus profesores cumple con las expectativas y el conocimiento que tus estudiantes necesitan.  </p>
						  		  </div>
						  </div>


				 </div>

				  <div class="col-md-4">
				 		 <br>
						  <div>
						  		 <b> <i class="fa fa-check"></i> Perfil de tus Estudiantes  </b>
						  		  <div>
						  		  	 <p> Comprueba  el perfil de tus consumidores para la toma de decisiones y brindar cursos a la medida de tus clientes.  </p>
						  		  </div>
						  </div>

						  <br>

						  <div>
						  		 <b> <i class="fa fa-check"></i> Cursos de Interés   </b>
						  		  <div>
						  		  	 <p> Adquiere información para aumentar la atención de tus clientes con los cursos más solicitados.  </p>
						  		  </div>
						  </div>


				 </div>