
<div id="panel_personal" class="tab-simple">
	<div class="row  " >
		<div class="col-md-2 col-xs-0">
		</div>
		<div class="col-md-8 col-xs-12">
		  <img  src="/assets/profile_user.jpg" id="img_destino" class="img-circle img-responsive img_usuario">
		</div>
		<div class="col-md-2 col-xs-0">
		</div>
		
		<br>

		<div class="col-md-12 text_usuario">
			<h4 class="text-muted">Jose Gonzáles</h4>
			<br>
			<span class="blue-text text-uppercase">desarrollador</span>
			<br>
			<a class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-envelope-o fa-lg"></i> mensaje</a>
			<a class="btn btn-danger text-uppercase btn-rounded" href="/usuarios/editar/1"> <i class="fa fa-gear fa-lg"></i> Editar</a>
	</div>
	
	
			<div class="col-md-12 social_usuario" >
			  <ul>
					<li class="fa fa-globe fa-1x text-muted"> <a href="" class="blue-text accent-1"> www.josegonzalez.com </a> </li>
					<br>
					<li class="fa fa-twitter fa-1x text-muted">  <a href="" class="blue-text accent-1"> @joseG   </a> </li>
					<br>
					<li class="fa fa-facebook fa-1x text-muted">  <a href="" class="blue-text accent-1"> JoseGonzalez  </a> </li>
				 </ul>
			</div>

	</div>
	

		
	
	
</div>

