<div  id="panel-curso" class="tab-simple panel-cursos"> 
    
     <h5 class="black-text"> <b> Mis Cursos </b> </h5>

<ul class="list-inline pad15">

	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>

	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>

	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>

	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>
	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>
	<li class="curso-cuadro">
		<div class="row">
			<div class="col s12 curso-cuadro-header green accent-1">
					<div class="col-md-2 col-ls-0"> </div>
					<div class="col-md-8 col-ls-12"> </div>
						<img src="/assets/clases-imagen.jpg" class="img-cuadro-curso">
					<div class="col-md-2 col-ls-0"> </div>
			</div>
			<div class="col s12 curso-cuadro-content ">
				<h5><b class="black-text"> Api de Google Maps </b></h5>
				<div class="subrayado-min"></div>
			</div>

			<div  style="float:right;">
				<a  class="btn btn-danger text-uppercase btn-rounded" href="#"> <i class="fa fa-external-link fa-lg"></i>ver</a>
			</div>
			
		</div>

	</li>
	
     
 

</ul>

</div>  




