<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "fullcalendar" %>
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase"> Mi  Calendario</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
    <li class="active">Mi Calendario</li>
    </ol>
  </div>
</div>

<div class="row pad45">
	<div class="col-md-2"> </div>
  <div class="col-md-8">
    <div id='calendarFacilitador'></div>
  </div>  
  <div class="col-md-2"> </div>
</div>	


<% content_for :js_personalizado do %>
  <%= javascript_include_tag 'fullcalendar.min' %>
 

  <script type="text/javascript">
  
     $('#calendarFacilitador').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek'
        },
        defaultDate: Date(),
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: [
          {
            title: 'Inicio del curso - sección 1',
            start: '2014-12-01'
          },
          {
            title: 'Examen Primera Lección - sección 3',
            start: '2014-12-10',
            end: '2014-12-12'
          },
          {
            id: 9,
            title: 'Discuciones de ejercicios propuestos - sección 2 ',
            start: '2014-12-12T16:00:00'
          },
          {
            id: 999,
            title: 'Discuciones de ejercicios propuestos - sección 2',
            start: '2014-12-19T16:00:00'

          },
          {
            title: 'Examen Segunda Lección - sección 1',
            start: '2014-12-28',
            end: '2014-12-30'
          },
          {
            id: 991,
            title: 'Discuciones generales - sección 2',
            start: '2014-12-24T16:00:00'
          },
          {
            id: 991,
            title: 'Discuciones generales - sección 1',
            start: '2014-12-31T16:00:00'
          },
          {
            title: 'Entregar Proyecto Lab3 - sección 3',
            url: 'http://google.com/',
            start: '2015-01-04',

          },
          {

            title: 'Entregar Proyecto Lab3 - sección 1',
            start: '2015-01-06',
          }
        ]
    });
  </script>

<% end %>