<br><br>
<table id="exampleadministradores" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>correo</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td data-search="Herrod Chandler">H. Chandler</td>
              <td>Chandler@</td>
              <td>administrador</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Perez">H. Perez</td>
              <td>Chandler@</td>
              <td>administrador</td>
              <td> </td>
            </tr>
          </tbody>
        </table>



<% content_for :js_personalizado do %>

  <script type="text/javascript">
    $(document).ready(function(){
  $('#exampleadministradores').dataTable();
    });
  </script>

<% end %>