<br><br>
<table id="exampleestudiantes" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>correo</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td data-search="Herrod Chandler">H. Butler</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>  
            </tr>
            <tr>
              <td data-search="Herrod Snider">H. Snider</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Suarez">H. Suarez</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Donna Snider">D. Snider</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
            
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td>estudiante</td>
              <td> </td>
            </tr>
          </tbody>
        </table>


<% content_for :js_personalizado do %>

  <script type="text/javascript">
    $(document).ready(function(){
  $('#exampleestudiantes').dataTable();
    });
  </script>

<% end %>