<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "cursos" %>
<% end %>
<div class="row">
  <div id="baner" class="col s12 no-padding" style="background-image:url('/assets/torre.jpg')">  
    <img  src="/assets/instructor3.jpeg" class="circulo"/>  
    <div class="titulo">  
      <h4> <strong>API de Google Maps</strong></h4>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col s4 pad45-h">
    <div id="info-instructor">
      <h5 class="text-center">Instructor<br/> 
        Richard Sanz</h5> 
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    </div>
    <div>
      <ul class="">
        <li class="">
          <strong>Costo :</strong>    Bs1500  </li >
        <li><strong>Puntuacion :</strong>
          <div class="ec-stars-wrapper">
           <a href="#" data-value="1" title="">&#9733;</a>
           <a href="#" data-value="2" title="">&#9733;</a>
           <a href="#" data-value="3" title="">&#9733;</a>
           <a href="#" data-value="4" title="">&#9733;</a>
           <a href="#" data-value="5" title="">&#9733;</a>
          </div> 
        </li>
        <li class="" ><strong>Categoría: </strong>   Servicios </li >
        <li class=""> 
          <strong>Nivel:</strong>     Intermedio
        </li >
        <li class=""> 
          <strong>Duración:</strong>   2 meses</li >
        <li><p>Aproximadamente 4 horas de trabajo semanal.</p></li>
      </ul>
    </div >

    <div>
      <div class="favoritear fav">
        <a href="javascript:void(0)">
          <i class="fa fa-heart fa-2x grey-text"></i>
          <i class="fa fa-heart fondo red-text darken-2"></i>
        </a>
      </div>
    </div >


    <div>
      <h5>Comparte este curso</h5>  
      <a href="javascript:void(0)" class="gp"><i class="fa fa-google"></i> </a>
      <a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i></a>
      <a href="javascript:void(0)" class="tw"><i class="fa fa-twitter"></i></a>
    </div>
    <br/>
    <br/>
    <table>
      <tr>
        <td> 
          <img  src="/assets/chico1.jpeg" class="rosa">
        </td>
        <td><p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        </td>
      </tr>
      <tr>
        <td>
          <img  src="/assets/chico3.jpg" class="rosa" >
        </td>
        <td>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        </td>
      </tr>
      <tr>
        <td>
          <img  src="/assets/chico2.jpg" class="rosa">
        </td>
        <td>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        </td>
      </tr>
    </table>
    <div>
      <a class="btn btn-link" href="javascript:void(0)">VER RESEÑAS</a>
    </div>
    <br/>
    <br/>
  </div>
  <div class="col s6 offset-s1">
    <div class="row pad15">
      <div class="col s8 ">
        <h5> <strong class="text-uppercase">Inversion </strong> Bs 1500</h5> 
      </div>
      <div class="col s4">
        <a href="javascript:void()" id="" class="btn btn-danger">Inscríbete</a>
      </div>
    </div>
    <div></div>
    <ul class="collapsible white">
      <li class="active">
        <div class="collapsible-header  descripcionuno"><h5><strong>Descripción</strong></h5></div>
        <div class="collapsible-body"><p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Maecenas sed di
          am eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>Objetivos</strong></h5></div>
        <div class="collapsible-body">
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>Requisitos</strong></h5></div>
        <div class="collapsible-body">
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>A quién está dirigido?</strong></h5></div>
        <div class="collapsible-body">
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

          Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </li>
     
    </ul>
    <br/>
   
    <h5 class="text-center">Currículum</h5>
    <table class="bordered hoverable  z-depth-1">
      <thead>
      <tr>
        <th class="td"><strong class="text-uppercase">Seccion 1: </strong>  Introduccion
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td >What Does the Cpurse Cover?</td>
        </tr>
        <tr> 
          <td>What you get with the course?</td>
        </tr>
        <tr>
          <td>Frequently asked questions</td>
        </tr>
      </tbody> 
      <thead>
        <tr>
          <th class="td"><strong class="text-uppercase">Seccion 2: </strong> Installing OSX on windows PC</th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>What Does the Cpurse Cover?</td>
        </tr>
        <tr>
          <td>What Does the Cpurse Cover?</td>
        </tr>
        <tr>
          <td>What Does the Cpurse Cover?</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th class="td "><strong class="text-uppercase">Seccion 3: </strong>Setup & Hello Word</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>What Does the Cpurse Cover?</td>
        </tr>
        <tr>
          <td>What Does the Cpurse Cover?</td>  
        </tr>
        <tr>
          <td>What Does the Cpurse Cover?</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 