<!-- Terminos de uso -->

  <div class="row">
    <div  class="col s12 offset-s4 ">
       <br>
       <h4> Terminos de Uso </h4>
    </div> 
  </div> 
  <div class="row">
    <div  class="col s8 offset-s2">
       <p> POR FAVOR LEA ESTE ACUERDO DE CONDICIONES DE USO ( LAS " CONDICIONES DE USO ") ANTES DE ACCEDER O PARTICIPAR EN CUALQUIER  curso, O SERVICIO DISPONIBLE POR xlearning , Y SUS SITIOS WEB RELACIONADOS ( " sitio" o "Sitios") . AL USAR Y PARTICIPAR EN LOS SITIOS , USTED MANIFIESTA Y RECONOCE QUE HA LEÍDO LOS TÉRMINOS DE USO Y ACEPTA QUE LAS CONDICIONES DE USO constituye un acuerdo legal vinculante entre usted y xlearning , Y QUE SE COMPROMETE A RESPETAR Y CUMPLIR CON LOS TÉRMINOS DE USAR . SI USTED NO ESTÁ DE ACUERDO A RESPETAR LAS CONDICIONES DE USO , POR FAVOR NO ACCEDA A LOS SITIOS. </p>
   </div> 
  </div>        
   <div class="row">
         <div class="col-md-4">
             <br>
              <div>
                   <b> <i class="fa fa-check"></i> Restricciones de edad </b>
                    <div>
                       <p> La inscripción y participación en los Sitios se restringe a las personas mayores de 18 años de edad, los menores emancipados , o aquellos que poseen consentimiento de su padre o tutor , y es plenamente capaz y competente para entrar en los términos, las condiciones , obligaciones , afirmaciones, declaraciones y garantías de este documento .  </p>
                    </div>
              </div>

              <br>

              <div>
                   <b> <i class="fa fa-check"></i>Derecho de modificación </b>
                    <div>
                       <p> Nos reservamos el derecho de cambiar o modificar las condiciones de uso a su discreción en cualquier momento. Cualquier cambio o modificación a las condiciones de uso se harán efectivos inmediatamente después de su publicación por nosotros . Para cualquier modificación significativa de las condiciones , tomaremos las medidas razonables para notificarle de tales cambios.</p>
                    </div>
              </div>


         </div>

          <div class="col-md-4">
             <br>
              <div>
                   <b> <i class="fa fa-check"></i> Renuncia </b>
                    <div>
                       <p>Los sitios pueden incluir foros que contienen las opiniones personales y otras expresiones de las personas que publican entradas sobre una amplia gama de temas. Ni el Contenido de Usuario ( como se define más adelante) en estos sitios , ni los enlaces a otros sitios web , se tamizan, se moderaron , aprobados , revisados ​​o aprobados por xlearning o de sus entidades participantes.  </p>
                    </div>
              </div>

              <br>

              <div>
                   <b> <i class="fa fa-check"></i>Derecho de modificación </b>
                    <div>
                       <p> Nos reservamos el derecho de cambiar o modificar las condiciones de uso a su discreción en cualquier momento. Cualquier cambio o modificación a las condiciones de uso se harán efectivos inmediatamente después de su publicación por nosotros . Para cualquier modificación significativa de las condiciones , tomaremos las medidas razonables para notificarle de tales cambios.</p>
                    </div>
              </div>


         </div>

          <div class="col-md-4">
             <br>
              <div>
                   <b> <i class="fa fa-check"></i> Normas de Conducta en línea </b>
                    <div>
                       <p> Usted se compromete a utilizar los Sitios de conformidad con todas las leyes aplicables . Además, usted acepta que no usará el sitio para actividades políticas partidarias organizadas . Asimismo, acepta que no te enviaremos un e -mail o publicar cualquiera de los siguientes contenidos ( " Contenido Prohibido " ) en cualquier parte del Sitio, o en cualquier otro recursos informáticos Xlearning. </p>
                    </div>
              </div>

              <br>

               <div>
                   <b> <i class="fa fa-check"></i>Derecho de modificación </b>
                    <div>
                       <p> Nos reservamos el derecho de cambiar o modificar las condiciones de uso a su discreción en cualquier momento. Cualquier cambio o modificación a las condiciones de uso se harán efectivos inmediatamente después de su publicación por nosotros . Para cualquier modificación significativa de las condiciones , tomaremos las medidas razonables para notificarle de tales cambios.</p>
                    </div>
              </div>


         </div>
  </div>
</div>

</div>
<!-- Terminos de uso -->

  <div class="row">
    <div  class="col s12 offset-s4 ">
       <br>
       <h4> Codigo de Honor </h4>
    </div> 
  </div> 
  <div class="row">
    <div  class="col s8 offset-s2">
       <p> Todos los estudiantes que participan en la clase deben estar de acuerdo en cumplir el siguiente código de conducta

 </p>
   </div> 
  </div>        
   <div class="row">
         <div class="col-md-4">
             <br>
              <div>
                   <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>
                    
              </div>

              <br>

              <div>
                   <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>
              </div>


         </div>

          <div class="col-md-4">
             <br>
              <div>
               <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>

              </div>

              <br>

              <div>
                   <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>

                   
              </div>


         </div>

          <div class="col-md-4">
             <br>
              <div>
                   <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>
                   
              </div>

              <br>

               <div>
                   <p> <i class="fa fa-check"></i> Mis respuestas a las tareas , pruebas y exámenes serán mi propio trabajo (a excepción de las asignaciones que permiten explícitamente la colaboración ) </p>
                  
              </div>


         </div>
  </div>
</div>

</div>
