<aside id="sidebar-menu" class="inverse">
	<div class="toggler-wrapper">
		<a href="javascript:void(0)"><i class="mdi-navigation-menu small"></i><span>Esconder menu</span></a>
	</div>
	<%= construir @menu %>
</aside>
