<!-- Historial/certificados -->
<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Mis certificados</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Certificados obtenidos</li>
    </ol>
  </div>
</div>

<div class="row pad30-h">
	<div class="col s8">
		<div class="panel pad15">
			<div class="row">
				<div class="col s3"><img src="/assets/paginas/certificado1.jpg" class="img-responsive"/></div>
				<div class="col s7">
					<h5>Desarrollo de aplicaciones en Android</h5>
					<small><span class="text-uppercase">código de validación</span> 5421-X34-00000828V0</small>
				</div>
				<div class="col s2 text-center h2 pad60">
					<a href="/assets/pdf/ejemplo.pdf" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/pdf/ejemplo.pdf" target="_blank"><i class="medium mdi-action-launch"></i></a>
				</div>
			</div>
		</div>

		<div class="panel pad15">
			<div class="row">
				<div class="col s3"><img src="/assets/paginas/certificado2.jpg" class="img-responsive"/></div>
				<div class="col s7">
					<h5>JUnit testing para Android</h5>
					<small><span class="text-uppercase">código de validación</span> 2222-X34-00000550C3</small>
				</div>
				<div class="col s2 text-center h2 pad60">
					<a href="/assets/pdf/ejemplo.pdf" download><i class="medium mdi-file-cloud-download"></i></a>
					<a href="/assets/pdf/ejemplo.pdf" target="_blank"><i class="medium mdi-action-launch"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="alert alert-warning white-text pad15 pad15-h">
			<i class="mdi-alert-error white-text pull-right h1 no-margin-v"></i>Envia el <strong>código de validación</strong> a certificados@xlearning.com 
			para verificar su autenticidad.
		</div>
	</div>
</div>



<!-- <div class="row pad15">
	<div class="col s12 text-center">
		<img src="/assets/paginas/cuadro.png"/>
		<h4>No tienes ningún certificado aún.</h4>
		Revisa nuestra <a href="/cursos">oferta de cursos</a>
	</div>
</div> -->