<div class="row">
	<h5 class="text-uppercase"> Ultimos Cursos</h5>
    <div class="col s12 m6 l5">
      <div class="card white">
        <div class="card-image">
          <img class="responsive-img" src="/assets/curso3.jpg">
        </div>
        <div class="card-content">
        	<span class="card-title grey-text darken-3">Programación en el lenguaje R</span>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l5">
      <div class="card white">
        <div class="card-image">
          <img class="responsive-img" src="/assets/curso4.jpeg">
        </div>
        <div class="card-content">
        	<span class="card-title grey-text darken-3">Aplicaciones móviles en android</span>
        </div>
      </div>
    </div>



  </div>




