 <div class="row">
                 <div class="col-md-6">
                 	<div class="col-md-12 text-primary text-uppercase text-center" style="font-size: 25px;"> Cocina C.A <hr> <span class="text-muted "style="font-size: 18px;">  GOURMET Y DELICATESES </span></div>
                </div> 


            <div class="col-md-3">
          <b> Mantente Informado </b>
                <ul class="list-inline">
                  <li><a class="fb" href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="tw" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="lk" href="javascript:void(0)"><i class="fa fa-linkedin"></i> </a></li>
                  <li><a class="gh" href="javascript:void(0)"><i class="fa fa-github"></i></a> </li>
                </ul>
            
          </div>
          <div class="col-md-3">
            <b> ¿Ques Esperas? </b>  <a href="javascript:void()" id="" class="btn btn-danger">Inscríbete</a>
          </div>
       </div>