 <div class="row">
        <div class="col-md-12 text-primary text-uppercase text-center" style="font-size: 25px;"> Nuestros Instructores <hr> </div>


      <div class="col-md-1 col-xs-0"></div>
          <div class="col-md-3">
               <div id="info-instructor" class="card small">
                    <div class="card-image">
                      <img src="/assets/profile_user.jpg" class="img-responsive">
                    </div>  
                    <div class="card-content text-center">
                      <h5 class="card-title grey-text darken-4">Jose Gonzalez</h5>
                      <span class="text-muted text-uppercase ">desarrollador</span>
                    
                      <ul class="list-inline pad30-h">
                        <li> <a href="" class="fa fa-facebook fb">  </a>  </li>
                        <li> <a href="" class="fa fa-twitter tw"> </a> </li>
                        <li> <a class="fa fa-linkedin lk" href=""> <i></i> </a> </li>
                        <li> <a class="fa fa-github gh"  href=""> </a> </li>
                      </ul>
                    </div>

                  </div>
              
          </div>
          <div class="col-md-3 ">
                <div id="info-instructor" class="card small">
                    <div class="card-image">
                      <img src="/assets/instructora2.jpeg" class="img-responsive">
                    </div>  
                    <div class="card-content text-center">
                      <h5 class="card-title grey-text darken-4">Martha Sanz</h5>
                      <span class="text-muted text-uppercase ">diseñadora</span>
                    
                      <ul class="list-inline pad30-h">
                        <li> <a href="" class="fa fa-facebook fb">  </a>  </li>
                        <li> <a href="" class="fa fa-twitter tw"> </a> </li>
                        <li> <a class="fa fa-linkedin lk" href=""> <i></i> </a> </li>
                        <li> <a class="fa fa-github gh"  href=""> </a> </li>
                      </ul>
                    </div>

                  </div>
              
          </div>
          <div class="col-md-3">
                <div id="info-instructor" class="card small">
                    <div class="card-image">
                      <img src="/assets/instructora1.png" class="img-responsive">
                    </div>  
                    <div class="card-content text-center">
                      <h5 class="card-title grey-text darken-4">Carol Diaz</h5>
                      <span class="text-muted text-uppercase ">diseñadora</span>
                    
                      <ul class="list-inline pad30-h">
                        <li> <a href="" class="fa fa-facebook fb">  </a>  </li>
                        <li> <a href="" class="fa fa-twitter tw"> </a> </li>
                        <li> <a class="fa fa-linkedin lk" href=""> <i></i> </a> </li>
                        <li> <a class="fa fa-github gh"  href=""> </a> </li>
                      </ul>
                    </div>

                  </div>
              
          </div>
          <div class="col-md-1 col-xs-0"></div>

        </div>
         <br><br>