<div class="row">
        <br><br>
           <div class="col-md-12 text-primary text-uppercase text-center" style="font-size: 25px;"> Politicas <hr> </div>
          <div class="col-md-4 ">
                  <div class="panel panel-primary">
                    <div class="panel-heading text-center text-uppercase">Interés</div>
                    <div class="panel-body">
                      Is an Associate Professor of Biostatistics at the Johns Hopkins Bloomberg School of Public Health and a Co-Editor of the Simply Statistics blog. He received his Ph.D.
                    </div>
                  </div>

              </div>
              <div class="col-md-4">
                  <div class="panel panel-primary ">
                    <div class="panel-heading text-center text-uppercase">Misión</div>
                    <div class="panel-body">
                      Is an Associate Professor of Biostatistics at the Johns Hopkins Bloomberg School of Public Health and a Co-Editor of the Simply Statistics blog. He received his Ph.D.
                    </div>
                  </div>

              </div>

              <div class="col-md-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading text-center text-uppercase">Politicas</div>
                    <div class="panel-body">
                      ofrecer un servicio bien seleccionado, preparado, procesado y presentado y servido a un cliente cada vez más específico. Ademas que manejamos precios accesibles para todo tipo de cliente, es importante siempre dar la opción para cada necesidad con una carta variada en opciones.
                    </div>
                  </div>

              </div>

        </div>