<div class="nav-wrapper">
<!-- Inicio Cuadro header -->
        <div class="tab-simple">
      
            <div class="row border">
          <div class="col-md-12">

          <div class="row">
            <div class="col-md-3">
            
              <div class="media border">
                 <div class="media-left media-middle">
                  <img class="img-rounded img-header-clases" src="/assets/6.jpg"  >
                </div>
              </div>


            </div>
            <div class="col-md-7">
                  <div class="media-body">
                       <h5 class="media-heading"> Api de Google Maps </h5>
                    <p class="font-12px"> Finaliza el 12 de Diciembre de 2015 </p>
                </div>
            </div>
            <div class="col-md-2">

              <div style="position: relative; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);">

                  <i style="position: absolute;" class="fa fa-circle-o-notch text-primary fa-2x" > </i>
                  <span style="position: absolute; font-size: 10px; "> 63% </span>
              </div>

            </div>

          </div>

            
          
            </div>

           
          
           </div>

                <ul class="nav nav-tabs nav-justified" id="myTab">
                  <li class="tooltop-test" title="Lecciones del Curso"> <a href="#leccionesCurso"> <i class="fa fa-list fa-2x" > </i>  </a>  </li>

                  <li class="tooltop-test" title="Bitacora del Curso"> <a href="#bitacoraCurso"><i class="fa fa-comments-o fa-2x"> </i></a></li>

                  <li class="tooltop-test" title="Evaluaciones detallada del Curso"> <a href="#evaluacionesCurso"><i class="fa fa-book fa-2x"> </i></a></li>

                  <li class="tooltop-test" title="Calendario del Curso"> <a href="#calendarioCurso"><i class="fa fa-calendar fa-2x"> </i></a></li>

                  <li class="tooltop-test" title="Notificaciones del curso"> <a href="#notificacionesEvaluacionesCurso"><i class="fa fa-bar-chart-o fa-2x"> </i></a></li>

                  <li class="tooltop-test" title="Descripciones del curso"> <a href="#descipcionesCurso"><i class="fa fa-info fa-2x"> </i></a></li>   
                </ul>

        </div>
         <!-- Fin Cuadro header -->

       </div>