<div id="info-instructor" class="card small">
	<div class="card-image">
		<img src="/assets/profile_user.jpg" class="img-responsive">
	</div>  
	<div class="card-content ">
		<h1 class="card-title grey-text darken-4">Jose Gonzáles</h1>
		<span class="text-muted text-uppercase">desarrollador</span>
		<!-- <p class="grey-text darken-4">I am a very simple card. I am good at containing small bits of information. 
		I am convenient because I require little markup to use effectively.</p> -->
		<ul class="list-inline pad15">
			<li> <a href="" class="fa fa-facebook fb">  </a>  </li>
			<li> <a href="" class="fa fa-twitter tw"> </a> </li>
			<li> <a class="fa fa-linkedin" href=""> <i></i> </a> </li>
			<li> <a class="fa fa-github"  href=""> </a> </li>
		</ul>
	</div>
<!-- 	<div class="card-action">
		<a href="#">This is a link</a>
		<a href='#'>This is a link</a>
	</div> -->
</div>


<!-- Inicio Cuadro Instructor -->
<!-- <div id="info-instructor" class="btn-primary tab-simple text-center">
	<h5>INSTRUCTOR</h5>
	<img src="/assets/profile_user.jpg" class="img-circle img-instructor">
	<h5 class="media-heading"> Carlex Maldonado </h5>
	<p class="font8px"> DESARROLLADOR </p>
	<br>
	<ul class="media-list" style="list-style-type: none;">
		<li> <a href="" class="fa fa-facebook fa-inverse fa-1x fb" >  </a>  </li>
		<li> <a href="" class="fa fa-twitter fa-inverse fa-1x tw"> </a> </li>
		<li> <a class="fa fa-linkedin fa-inverse fa-1x" href=""> <i></i> </a> </li>
		<li> <a class="fa fa-github fa-inverse fa-1x"  href=""> </a> </li>
	</ul>
</div> -->
					<!-- Fin Cuadro Instructor -->