<!-- Inicio Cuadro Instructor -->
<div class="btn-primary" class="tab-simple">
		<h6>&nbsp; INSTRUCTOR </h6>
		<div class="media">
			<div class="media-left media-middle">

					<img src="/assets/avatar2.jpg" class="img-circle img-instructor">

			</div>

				<div class="media-body">
			
			<br>
			<h6 class="media-heading"> Carlex Maldonado </h6>
					<p class="font8px"> DESARROLLADOR </p>
			</div>


		</div>

		<br>
		
			<div style="text-align: center;" >
						<ul class="media-list" style="list-style-type: none;">

							<li> <a href="" class="fa fa-facebook fa-inverse fa-1x" >  </a>  </li>

							<li > <a href="" class="fa fa-twitter fa-inverse fa-1x"> </a> </li>

							<li > <a class="fa fa-linkedin fa-inverse fa-1x" href=""> <i></i> </a> </li>

							<li > <a class="fa fa-github fa-inverse fa-1x"  href=""> </a> </li>

						</ul>
						
			</div>
			<br>

</div>
					<!-- Fin Cuadro Instructor -->