<div id="info-instructor" class="card">
	<div class="card-image">
		<img src="/assets/profile_user.jpg" class="img-responsive">
	</div>  
	<div class="card-content text-center">
		<h5 class="card-title grey-text darken-4">Jose Gonzáles</h5>
		<span class="text-muted text-uppercase">desarrollador</span>
		<!-- <p class="grey-text darken-4">I am a very simple card. I am good at containing small bits of information. 
		I am convenient because I require little markup to use effectively.</p> -->
		<ul class="list-inline pad15">
			<li><a class="fb" href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
			<li><a class="tw" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
			<li><a class="lk" href="javascript:void(0)"><i class="fa fa-linkedin"></i> </a></li>
			<li><a class="gh" href="javascript:void(0)"><i class="fa fa-github"></i></a> </li>
		</ul>
	</div>
</div>