<div  id="sidebar-recordatorios" class="panel pad15"> 
  <div class="panel-body">
    <h6 class="font12px text-primary">PRÓXIMAS EVALUACIONES </h6>   
    <ul>
      <li>
        <p class="panel-der"> <a class="text-muted" href=""> Quiz </a>: Sintaxis JSON 
        <br>
        25 de Nov de 2014, 11:55pm.
        </p>
      </li>
      <li>
        <p class="panel-der"> <a class="text-muted" href=""> Taller 1 </a>: Mi primer programa 
        <br>
        27 de Nov de 2014, 08:00pm.
        </p>
      </li>
    </ul>
    <hr>
    <h6 class=" font12px text-primary" >  ÚLTIMAS DISCUCIONES </h6>
    <ul>
      <li>
        <p class="panel-der"> <a class="text-muted" href=""> Problemas con la tira SQL </a>
        <br>
        Comento Pedro Perez el 25 de Nov de 2014, 09:00pm.  
        </p>
      </li>
      <li>
        <p class="panel-der"> <a class="text-muted" href=""> Problemas con la tira SQL </a>
        <br>
        Comento Pedro Perez el 25 de Nov de 2014, 09:00pm.  
        </p>
      </li>
  </div>    
</div>  
