<div  id="sidebar-recordatorios" class="panel pad15"> 
  <div class="panel-body">
    <h6 class="font12px text-primary">PRÓXIMAS EVALUACIONES </h6>   
    <ul>
       <div id="ClasesNotificacionesEvaluaciones" class="1"> </div>
    </ul>
    <hr>
    <h6 class=" font12px text-primary" >  ÚLTIMAS DISCUCIONES </h6>
    <ul>
      <div id="ClasesNotificacionesDiscuciones"></div>
    </ul>
  </div>    
</div>  
