
<div  class="tab-simple">
            
   <div class="row"> 
      <div class="media-body">
         <br>
         <h6 class="media-heading font12px text-primary" >  PRÓXIMAS EVALUACIONES </h6>
            
         <p class="panel-der"> <a class="text-muted" href=""> Quiz </a>: Sintaxis JSON 
            <br>
            25 de Nov de 2014, 11:55pm.
          </p>

            <p class="panel-der"> <a class="text-muted" href=""> Taller 1 </a>: Mi primer programa 
              <br>
                   27 de Nov de 2014, 08:00pm.
            </p>

         </div>
    </div>

    <br>
    <div class="row"> 
       <div class="media-body">

        <h6 class="media-heading font12px text-primary" >  ÚLTIMAS DISCUCIONES </h6>
           <p class="panel-der"> <a class="text-muted" href=""> Problemas con la tira SQL </a>
              <br>
              Comento Pedro Perez el 25 de Nov de 2014, 09:00pm.  
            </p>

            <p class="panel-der"> <a class="text-muted" href=""> Problemas con la tira SQL </a>
              <br>
              Comento Pedro Perez el 25 de Nov de 2014, 09:00pm.  
            </p>
            <br> <br>
        </div>
   </div>
   
</div>  
