
<br><br>
	<h6 class="text-primary text-center"> Porgresos de la Organización a nivel Económico</h6>
<div class="row">
	<div class="col-md-2 col-xs-0"></div>
	<div class="col-md-8 col-xs-12">
		    <canvas id="circularchar" title="Progreso de la Organización" width="270" height="250"></canvas>
	</div>
	<div class="col-md-2 col-xs-0"></div>

	
</div>
<div>

<a class="btn btn-danger text-uppercase btn-rounded" title="Ampliar la Información" style="float: right;" href="#"> <i class="fa fa-line-chart fa-lg"></i> Ampliar </a>
</div>



    
       <div class="col s12 margen">
       	<br>
      <div class="card-panel">
      	
        <span class="black-text" >  <p class="text-justify"> El progreso de la organización a nivel económico refleja la rentabilidad que esta obteniendo la empresa con respecto a la inversion realizada y las ganancias obtenidas.<br>
        	<b>- Menor que 0 </b> indicando perdidas en la organización.<br>
        	<b>- En 0 </b> indicando la estabilidad estable.<br>
        	<b>- Mayor que 0</b> indicando el nivel de ganancias.<br>
        </span> </p>
      </div>
    </div>
