

<br><br>
<div>
	<h6 class="text-primary text-center"> Progreso de  clientes en la Organización</h6>
</div>

<br><br>
<div class="row">
	<div class="col-md-2 col-xs-0"></div>
	<div class="col-md-8 col-xs-12">
		<canvas id="skeleton" title="Progreso por clientes en la Organización" width="300" height="150" style="box-shadow: "></canvas>
	</div>
	<div class="col-md-2 col-xs-0"></div>

	
</div>
<div>
<br><br>
<a class="btn btn-danger text-uppercase btn-rounded" title="Ampliar la Información" style="float: right;" href="#"> <i class="fa fa-line-chart fa-lg"></i> Ampliar </a>

</div>



    <div class="col s12 margen">
      <div class="card-panel">
        <span class="black-text"> <p class="text-justify"> El progreso de clientes de la organización refleja la cantidad de clientes que se inscribieron en un curso de la organización en el mes que esta en proceso y es  medido en porcentajes.
        </p>
        </span>
      </div>
    </div>

    
    
