
<br><br>

<div>
	<h6 class="text-primary text-center"> Rentabilidad de los Recursos del Sistema</h6>
</div>

<div class="row">
	<div class="col-md-2 col-xs-0"></div>
	<div class="col-md-8 col-xs-12">
		<canvas id="thermometer" title="Rentabilidad de los Recursos" width="100%" height="300"></canvas>
	</div>
	<div class="col-md-2 col-xs-0"></div>

	
</div>
<div>

<a class="btn btn-danger text-uppercase btn-rounded" title="Ampliar la Informaci贸n" style="float: right;" href="#"> <i class="fa fa-line-chart fa-lg"></i> Ampliar </a>
</div>



       <div class="col s12 margen">
      <div class="card-panel">
      
        <span class="black-text"> <p class="text-justify">La rentabilidad de los recursos utilizados por la organizaci贸n, tomando como decisi贸n la inversi贸n o no en los recursos que se necesitan. </p>
        </span>
      </div>
    </div>
    
