<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "fullcalendar" %>
<% end %>

<div class="row">
	<div class="col-lg-12">
		<div id='calendar'></div>
	</div>	
</div>	


<% content_for :js_personalizado do %>
  <%= javascript_include_tag 'fullcalendar.min' %>
 

  <script type="text/javascript">
  
     $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek'
        },
        defaultDate: Date(),
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: [
          {
            title: 'Inicio del curso',
            start: '2014-12-01'
          },
          {
            title: 'Examen Primera Lección',
            start: '2014-12-10',
            end: '2014-12-12'
          },
          {
            id: 9,
            title: 'Discuciones de ejercicios propuestos',
            start: '2014-12-12T16:00:00'
          },
          {
            id: 999,
            title: 'Discuciones de ejercicios propuestos',
            start: '2014-12-19T16:00:00'
          },
          {
            title: 'Examen Segunda Lección',
            start: '2014-12-28',
            end: '2014-12-30'
          },
          {
            id: 991,
            title: 'Discuciones generales',
            start: '2014-12-24T16:00:00'
          },
          {
            id: 991,
            title: 'Discuciones generales',
            start: '2014-12-31T16:00:00'
          },
          {
            title: 'Entregar Proyecto Lab3',
            url: 'http://google.com/',
            start: '2015-01-04'
          }
        ]
    });
  </script>

<% end %>