<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "fullcalendar" %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div id='calendar' class"<%= params[:id] %>"></div>
  </div>  
</div>  



<% content_for :js_personalizado do %>
  <%= javascript_include_tag 'fullcalendar.min' %>
 
  <script type="text/javascript">

     $('#calendar').fullCalendar({



        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek'
        },
        defaultDate: '2015-02-01',
        editable: false,
        eventLimit: true, 
    
 //events:  '/json/clases/generarClasesCalendarioEstudiante'

      events: function(start, end, timezone, callback) {
        $.ajax({
            url: '/json/clases/generarClasesCalendarioEstudiante',
            dataType: 'json',
            type: 'POST',
            data: "number=1",
            success: function(doc) {
                var events = [];
                $(doc).find('event').each(function() {
                    events.push({
                        title: $(this).attr('title'),
                        start: $(this).attr('start') // will be parsed
                    });
                });
                callback(events);
            }
        });
    }



    });

  </script>

<% end %>