 <div style="margin-left: 1cm;">
        
          <h6> DESCRIPCIÓN </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class=" margin-l1cm font12px"> Bla bla bla</p>
          <br><br>

          <h6> OBJETIVOS </h6>
          <div class="text-primary subrayado-min "></div>
          <br>
          <p class="margin-l1cm font12px"> Bla bla bla</p>
          <br><br>

          <h6> RQUISITOS </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm font12px"> Bla bla bla</p>
          <br><br>

          <h6> ¿A QUIEN ESTÁ DIRIGIDO? </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm font12px"> Bla bla bla</p>
          <br><br>

      </div>
      