<div class="panel pad30 pad30-h">
      <div>
        
          <h6> DESCRIPCIÓN </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class=" margin-l1cm"> 
               <% if ! @eval.grupo.curso.descripcion.nil? and @eval.grupo.curso.descripcion != "" %>
                    <%= @eval.grupo.curso.descripcion %> 
               <% else %>
                    No se conoce su descripción.
               <% end %>
          </p>
          <br><br>

          <h6> OBJETIVOS </h6>
          <div class="text-primary subrayado-min "></div>
          <br>
          <p class="margin-l1cm"> 
                <% if ! @eval.grupo.curso.objetivos.nil? and @eval.grupo.curso.objetivos != "" %>
                    <%= @eval.grupo.curso.objetivos %> 
               <% else %>
                    No se conocen sus objetivos.
               <% end %>
          </p>
          <br><br>

          <h6> REQUISITOS </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm"> 
                <% if ! @eval.grupo.curso.prerequisitos.nil? and @eval.grupo.curso.prerequisitos != "" %>
                    <%= @eval.grupo.curso.prerequisitos %> 
               <% else %>
                    No se conocen sus prerequisitos.
               <% end %>
          </p>
          <br><br>

          <h6> ¿A QUIEN ESTÁ DIRIGIDO? </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm"> 
                <% if ! @eval.grupo.curso.perfil_estudiante.nil? and @eval.grupo.curso.perfil_estudiante != "" %>
                    <%= @eval.grupo.curso.perfil_estudiante %> 
               <% else %>
                    No se conoce su a quien va dirigido.
               <% end %>
          </p>
          <br><br>

      </div>
</div>
      
      
      