<div class="panel pad30">
  <div class="pad30-h">
    <ul class="inline mod-evaluaciones pull-right">
      <li class="tab" title="Listado de evaluaciones del curso" style="width:25px !important;">
        <a href="#listadoEvaluacionesCurso"><i class="fa fa-list"></i></a>
      </li>
      <li class="tab" title="Evaluaciones por tabla del curso"  style="width:25px !important;">
        <a href="#tablasEvaluacionesCurso"><i class="fa fa-table"> </i></a>
      </li>   
    </ul>
  </div>
  <!-- Inicio del panel tablasEvaluacionesCurso -->  
  <div class="tab-pane" id="tablasEvaluacionesCurso">
    <table class="bordered hoverable">
      <thead>
        <tr>
          <th>Evaluación</th>
          <th>Calificación</th>
          <th>Útimo Intento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Quiz 1: Distancia Euclidiana</td>
          <td>15/20</td>
          <td>12/11/2014</td>
          <td>
            <a href="/clases/1/evaluacion/1/overview" 
              class="btn-primary btn-sm">PRESENTAR</a>
            <a href="javascript:void(0)" class="btn-info btn-sm">FEEDBACK</a>
          </td>
        </tr>
        <tr>
          <td scope="row">Quiz 1: Distancia Euclidiana</td>
          <td>0/20 </td>
          <td>-</td>
          <td>
            <a href="/clases/1/evaluacion/1/overview" 
              class="btn-primary btn-sm">PRESENTAR</a>
            <a href="javascript:void(0)" class="btn-info btn-sm disabled ">FEEDBACK</a>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
  <!-- Fin del panel tablasEvaluacionesCurso -->
    
  <!-- Inicio Panel listadoEvaluacionCurso -->
  <div class="tab-pane pad30-h" id="listadoEvaluacionesCurso">                     
    <!--Inicio del acordion -->
      <!-- Aqui ira el for, cambiando el id="headingNumero", href="collapseNumero" -->
    <a data-toggle="collapse" href="#evaluacionescollapse1" aria-expanded="true" aria-controls="evaluacionescollapse1" >
      <h4 class="panel-title" role="tab" id="evaluacionesheading1">
        Leccion 1: Distancia Euleriana
      </h4>
    </a> 
    <div id="evaluacionescollapse1" class="panel-collapse collapse in" role="#tabpanel" 
      aria-labelledby="evaluacionesheading1">
      <div>
        <!-- Inicio de las Evaluaciones -->
        <!-- Button trigger modal -->
        <a class="btn modal-trigger btn-primary btn-ls" href="#modal5">
          Instrucciones</a>
          <!-- Modal Trigger -->
        <br/>
        <b>Fecha tope: 12 de Nov del 2014, 5:00pm</b>
        <br/><br/>
        <div class="row">
          <div class="col-md-1">    
            <span class="fa-stack ">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
            </span>
          </div>
          <div class="col-md-8  col-lg-8">
            <p> Aqui sera una pequeña informacion del examen, pequeña muy pequeñita, muy muy muy pequeña </p>
          </div>
        </div>
        <table>
          <tr>
            <th><b>Calificación</b></th>
            <th><b>Último intento</b></th>
            <th></th>
          </tr>
          <tr>
            <td>20/30</td>
            <td>11/11/2014 4:47pm</td>
            <td>
              <a href="/clases/1/evaluacion/1/overview" 
              class="btn-primary btn-sm">PRESENTAR</a>
              <a href="javascript:void(0)" class="btn-info btn-sm">FEEDBACK</a>
            </td>
          </tr>
        </table>
        <br/>
      </div>
      <!-- Fin Evaluaciones -->
    </div>
    <hr/>
    <a data-toggle="collapse" href="#evaluacionescollapse2" aria-expanded="true" aria-controls="evaluacionescollapse2" >
      <h4 class="panel-title" role="tab" id="evaluacionesheading2">
        Leccion 2: Distancias Geodésicas
      </h4>
    </a>  
    <div id="evaluacionescollapse2" class="panel-collapse collapse in" role="#tabpanel" 
      aria-labelledby="evaluacionesheading2">
      <div>
        <!-- Button trigger modal -->
        <a class="btn modal-trigger btn-primary btn-ls" href="#modal5">
            Instrucciones</a>
        <!-- Modal Trigger -->
        <br/>
        <b> Fecha tope: 12 de Nov del 2014, 5:00pm </b>
        <br><br>
        <div class="row">
          <div class="col-md-1">
            <span class="fa-stack ">
               <i class="fa fa-circle fa-stack-2x text-danger"></i>
               <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
            </span>
          </div>
          <div class="col-md-8 col-lg-8">
            <p> Aqui sera una pequeña informacion del examen, pequeña muy pequeñita, muy muy muy pequeña </p>
          </div>
        </div>
        <table>
          <tr>
            <th><b>Calificación</b></th>
            <th><b>Último intento</b></th>
            <th></th>
          </tr>
          <tr>
            <td>0/30</td>
            <td> - </td>
            <td>
              <a href="/clases/1/evaluacion/1/overview" class="btn-primary btn-sm">PRESENTAR</a>
              <a href="javascript:void(0)" class="btn-info btn-sm disabled ">FEEDBACK</a>
            </td>
          </tr>
        </table>
        <br/>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal5" class="modal">
  <div class="modal-content">
    <a href="#" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
    <h4>Distancias Euleriana</h4>
    <br/>
    <p>Breve información del parcial</p>
  </div>
</div>          