<!--Inicio del acordion -->
<!-- <div class="panel-group" id="leccionesaccordion" role="tablist" aria-multiselectable="true"> -->
  <!-- Aqui ira el for, cambiando el id="headingNumero", href="collapseNumero" -->
  <div class="panel panel-primary leccion">
    <div class="panel-heading" role="tab" id="leccionesheading1">
      <a data-toggle="collapse" href="#leccionescollapse1" 
        aria-expanded="true" aria-controls="leccionescollapse1" class="titulo-leccion panel-title">
        <h4>
           Lección 1: Distancias Euleriana 
        </h4>
        <span class="porcentaje-completado">
          Completado 100%
        </span>
      </a>
    </div>
    <div id="leccionescollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="leccionesheading1">
      <div class="panel-body">
        <div class="descripcion-leccion pad15 pad30-h">Descripcion del material es la que va en este espacio pero como no la 
            tengo que solo estoy inventando un poco.</div>
          <!-- Inicio de Material -->
          <table class="bordered contenido material">
            <tr  class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Material </th>
              <th>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>  
              </th>
            </tr>
            <!-- aqui seria el for -->
            <tr>
              <td></td>
              <td colspan="2">
                <a href="javascript:void(0)" class="visualizador-contenido" data-contenido="imagen"
                  data-url="/assets/curso1.jpg">
                  <i class="mdi-image-slideshow"></i>
                <!-- <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x red-text lighten-1"></i>
                  <i class="fa fa-video-camera fa-stack-1x white-text" ></i>
                </span> -->
                Imagen</a> <span class="badge  grey lighten-2">15 min.</span>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td  colspan="2">
                <i class="fa fa-file-archive-o"></i>
                <!-- <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x red-text lighten-1"></i>
                  <i class="fa fa-file-zip-o fa-stack-1x white-text" ></i>
                </span> -->
                Archivo zip <span class="badge grey lighten-2">37 Mb</span>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
              </td>
            </tr>   
             <!-- Aqui termina el for -->
          </table>
          <!-- fin de material -->
          <!-- Inicio Evaluaciones  -->
          <table class="bordered contenido evaluaciones">
            <tr class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Evaluaciones</th>
            </tr>
            <!-- aqui seria el for -->
            <tr>
              <td></td>
              <td>
                <a href="/clases/1/evaluacion/1/overview">
                  <i class="mdi-social-whatshot orange-text accent-4"></i>Quiz contenido 1 <span class="badge grey lighten-2">20 min.</span>
                </a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a href="/clases/1/asignacion/1/overview">Actividad</a>
              </td>
            </tr>
             <!-- Aqui termina el for -->
          </table>                 
      </div>
    </div>
  </div>
  <div class="panel panel-primary leccion">
    <div class="panel-heading" role="tab" id="leccionesheading2">
      <a data-toggle="collapse" href="#leccionescollapse2" 
        aria-expanded="true" aria-controls="leccionescollapse2" class="titulo-leccion panel-title">
        <h4>
           Lección 2: Distancias geodésicas 
        </h4>
        <span class="porcentaje-completado">
          Completado 20%
       </span>
      </a>
    </div>
    <div id="leccionescollapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="leccionesheading2">
      <div class="panel-body">
        <div class="descripcion-leccion pad15 pad30-h">Descripcion del material es la que va en este espacio pero como no la 
            tengo que solo estoy inventando un poco.</div>
          <!-- Inicio de Material -->
          <table class="bordered contenido material">
            <tr  class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Material </th>
              <th>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>  
              </th>
            </tr>
            <!-- aqui seria el for -->
            <tr>
              <td></td>
              <td colspan="2">
                <a href="javascript:void(0)" data-contenido="video" class="visualizador-contenido"><i class="mdi-image-slideshow"></i>
                <!-- <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x red-text lighten-1"></i>
                  <i class="fa fa-video-camera fa-stack-1x white-text" ></i>
                </span> -->
                Contenido</a> <span class="badge grey lighten-2">15 min.</span>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td  colspan="2">
                <i class="fa fa-file-archive-o"></i>
                <!-- <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x red-text lighten-1"></i>
                  <i class="fa fa-file-zip-o fa-stack-1x white-text" ></i>
                </span> -->
                Archivo zip <span class="badge grey lighten-2">37 Mb</span>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
              </td>
            </tr>   
             <!-- Aqui termina el for -->
          </table>
          <!-- fin de material -->
          <!-- Inicio Evaluaciones  -->
          <table class="bordered contenido evaluaciones">
            <tr class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Evaluaciones</th>
            </tr>
            <!-- aqui seria el for -->
            <tr>
              <td></td>
              <td>
                <a href="/clases/1/evaluacion/1/overview">
                  <i class="mdi-social-whatshot orange-text accent-4"></i>Quiz contenido 1 <span class="badge blue-grey lighten-4">20 min.</span>
                </a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a href="/clases/:id/actividad/:id/overview">Actividad</a>
              </td>
            </tr>
             <!-- Aqui termina el for -->
          </table>                 
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- fin del acordion -->

<div class="modal" id="visualizador">
  
</div>