

<br>
<div class="border">

  <div class="media">
    <h5> Mensaje </h5>

   <div class="media-left">
      <div class="notificacion-fecha btn-primary"> Oct, 12 20014 </div>
     </div>
      <div class="media-body">
        explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii
      </div>
      <br>
    <b> Enviado por Carlex Maldonado, a las 3:45pm </b>
  </div>
      
 <br>
</div>



<br>
<div class="border">

  <div class="media">
     <h5> Mensaje </h5>
   <div class="media-left">
      <div class="notificacion-fecha btn-primary"> Oct, 12 20014 </div>
     </div>
      <div class="media-body">
           explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii explico el mensaje aquiii
      </div>
      <br>
    <b> Enviado por Carlex Maldonado, a las 3:45pm </b>
  </div>
      
 <br>
</div>

 
