<div class="panel panel-warning">
	<div class="panel-heading"><h5>Envía un mensaje a la sección</h5></div>
	<div class="panel-body">
		<form >
			<div class="input-field">
				<label for="asunto">Asunto</label>
				<input type="text" id="asunto" required/>
			</div>
			<div class="input-field">
				<label for="mensaje">Mensaje</label>
				<textarea id="mensaje" required></textarea>
			</div>
			<input type="submit" class="btn btn-danger" value="Enviar">
		</form>
	</div>
</div>