
<div id="panel_personal" class="tab-simple">
	<div class="row" >
		<br>
		<h4 class="text-muted text-center"> Menú Estadisticos</h4>
		<br> <br>


		<ul class="nav nav-pills nav-stacked">
		<li><a href="javascript:void(0)"><i class="mdi-action-home"></i> Opcion del menu</a></li>
		<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
		<li>
			<a href="#submenu" class="submenu-trigger" data-toggle="collapse">
				<i class="mdi-action-language"></i> Opcion del menu
			</a>
			<div id="submenu" class="collapsible collapse">
				<ul class="submenu">
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Aaaa</a></li>
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
				</ul>
			</div>
		</li>
		<li>

			<a href="#submenu2" class="submenu-trigger" data-toggle="collapse">
				<i class="mdi-action-language"></i> Opcion del menu
			</a>
			<div id="submenu2" class="collapsible collapse">
				<ul class="submenu">
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
					<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
				</ul>
			</div>


		</li>

		<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
		<li><a href="javascript:void(0)"><i class="mdi-action-language"></i> Opcion del menu</a></li>
	</ul>

	</div>
</div>

