<!-- perfil/politicas -->

<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "usuarios" %>
<% end %>

<div class="text-right">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Perfil Organización</li>
  </ol>
</div>

<div class="row pad30-h">
  <div class="col s3">
    <%= render "organizacions/application/panelPerfil" %>
  </div>
  <div class="col s7">
    <div class="panel pad30-h">
      <div class="row">
         <div class="col s12">
            <h5 class="blue-text accent-1 text-uppercase"> Acerca de nosotros</h5>
             <br>
            <i class="fa fa-tag font21px"></i> Barquisimeto, Venezuela
             <br>  <br>
             Misión
            <p class="pad15-h">
               Is an Associate Professor of Biostatistics at the Johns Hopkins Bloomberg School of Public Health and a Co-Editor of the Simply Statistics blog. He received his Ph.D. 
            </p>
             <br>
             Visión
            <p class="pad15-h">
               Is an Associate Professor of Biostatistics at the Johns Hopkins Bloomberg School of Public Health and a Co-Editor of the Simply Statistics blog. He received his Ph.D. 
            </p>
            <br>


            Politicas
            <p class="pad15-h">

               Ofrecer un servicio bien seleccionado, preparado, procesado y presentado y servido a un cliente cada vez más específico. Ademas que manejamos precios accesibles para todo tipo de cliente, es importante siempre dar la opción para cada necesidad con una carta variada en opciones.


            </p>
            <br>

           
         </div>
       </div> 
    </div>
    <%= render "organizacions/application/panelCurso" %>
  </div>
</div>

