<!-- /usuarios  -->


<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "jquery.dataTables" %> 
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Organizaciones</h5>
  </div>
  <div class="col s6 text-right">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Organizaciones</li>
  </ol>
  </div>
</div>


<div class="row pad30-h">

<ul class="tabs">
      <li class="tab col s2" title="Todas las Organizaciones"><a href="#organizacionesTodas"> Todas </a></li>
      <li class="tab col s2" title="Organizaciones bloqueadas"><a href="#organizacionesBloqueadas">Bloqueadas </a></li>
</ul>

<div class="tab-pane" id="organizacionesTodas">
<br>
    <table id="organizacionTodas" class="display" cellspacing="0" width="100%">
    <br>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Mensaje</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td data-search="Herrod Chandler">H. Chandler</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                 <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Butler</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>  
            </tr>
            <tr>
              <td data-search="Herrod Alexander">H. Alexander</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Perez">H. Perez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Snider">H. Snider</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Suarez">H. Suarez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Sanchez">H. Sanchez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Modificar</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Bloquear</a>
              </td>
            </tr>
          </tbody>
        </table>

</div>
<div class="tab-pane" id="organizacionesBloqueadas">
<br>
      <table id="organizacionbloqueados" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Mensaje</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td data-search="Herrod Chandler">H. Chandler</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                 <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Butler</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>  
            </tr>
            <tr>
              <td data-search="Herrod Alexander">H. Alexander</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Perez">H. Perez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Snider">H. Snider</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Suarez">H. Suarez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Chandler">H. Decker</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
            <tr>
              <td data-search="Herrod Sanchez">H. Sanchez</td>
              <td>Chandler@</td>
              <td> mensaje</td>
              <td>2015/01/12</td>
              <td> 
                <a href="javascript:void(0)" class="btn-success btn-sm">Ver</a>
                <a href="javascript:void(0)" class="btn-primary btn-sm">Desbloquear</a>
                 <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>

</div>

</div>

<% content_for :js_personalizado do %>

  <%= javascript_include_tag 'jquery.dataTables.min' %>

  <script type="text/javascript">
    $(document).ready(function(){
  $('#organizacionTodas').dataTable();
  $('#organizacionbloqueados').dataTable();
    });
  </script>

<% end %>