<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Previo Examen</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
     <li><%= link_to "Home", root_path %></li>
	  <li class="active">Previo Examen</li>
    </ol>
  </div>
</div>
<div class="row pad45">
	<div class="col-lg-7">
		<div class="panel block-center">
			<div class="panel-body pad30 pad45-h">
				<h4>Cuestionario: Distancias eulerianas</h4>
				<p>Con este cuestionario se pretende evaluar el conocimiento teórico del estudiante en el área de distancias eulerianas.
					<br/>
					<i class="mdi-action-schedule"></i> Tiempo: 15 min.<br>
					<i class=""></i> Intentos: 2 de 5<br>
					<i class=""></i> Ponderación: 10 puntos<br> 
					<i class=""></i> Abierto hasta: Enero, 15 de 2015<br> 
				</p>
				<a href="/clases/1/evaluacion/1/presentar" class="btn btn-primary">comenzar</a>
			</div>
		</div>
	</div>
</div>