
  	<div class="row">
  		<div class="col-md-12 scroll-bitacora">

  			<br><br>
	  	<ul class="timeline">
    	<li class="timeline-yellow">
				<div class="timeline-time">
					<span class="date"> 1/12/14 </span>
					<span class="time"> 18:30 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-trophy"></i>
				</div>
				<div class="timeline-body">
					<h6>Iniciaste el curos</h6>
				</div>
			</li>
				<li class="timeline-blue">
				<div class="timeline-time">
					<span class="date"> 2/12/14 </span>
					<span class="time"> 12:04 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-unlock"></i>
				</div>
				<div class="timeline-body">
					<h6>Comenzaste con la primera lección del curso</h6>
				</div>
			</li>
			<li class="timeline-red">
				<div class="timeline-time">
					<span class="date"> 3/12/14 </span>
					<span class="time"> 12:04 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-file-zip-o"></i>
				</div>
				<div class="timeline-body">
					<h6>Descargaste el contenido de la primera lección</h6>
				</div>
			</li>
			<li class="timeline-green">
				<div class="timeline-time">
					<span class="date"> 14/12/14 </span>
					<span class="time"> 05:36 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-pencil-square-o"></i>
				</div>
				<div class="timeline-body">
					<h6>Presentaste el Quiz de la primera lección, Obtuviste una nota de 15 puntos</h6>
				</div>
			</li>
			<li class="timeline-blue">
				<div class="timeline-time">
					<span class="date"> 14/12/14 </span>
					<span class="time"> 12:04 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-lock"></i>
				</div>
				<div class="timeline-body">
					<h6>Culminaste con la primera lección del curso</h6>
				</div>
			</li>
			<li class="timeline-blue">
				<div class="timeline-time">
					<span class="date"> 15/12/14 </span>
					<span class="time"> 12:04 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-unlock"></i>
				</div>
				<div class="timeline-body">
					<h6>Comenzaste con la segunda lección del curso</h6>
				</div>
			</li>
			<li class="timeline-purple timeline-noline">
				<div class="timeline-time">
					<span class="date"> 20/12/14 </span>
					<span class="time"> 05:36 </span>
				</div>
				<div class="timeline-icon">
					<i class="fa fa-file-text-o"></i>
				</div>
				<div class="timeline-body">
					<h6>Subiste un ejercicio correspondiente a la segunda lección</h6>
				</div>
			</li>
						
		</ul>
	


  		</div>	

  	</div>
