 <div style="margin-left: 1cm;">
        
          <h6> DESCRIPCIÓN </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class=" margin-l1cm font12px"> Google Maps is a desktop and mobile web mapping service application and technology provided by Google, offering satellite imagery, street maps, and Street View perspectives, as well as functions such as a route planner for traveling by foot, car, bicycle (beta test), or with public transportation. Also supported are maps embedded on third-party websites via the Google Maps API,[1] and a locator for urban businesses and other organizations in numerous countries around the world. Google Maps satellite images are not updated in real time; however, Google adds data to their Primary Database on a regular basis, and most of the images are no more than 3 years old</p>
          <br><br>

          <h6> OBJETIVOS </h6>
          <div class="text-primary subrayado-min "></div>
          <br>
          <p class="margin-l1cm font12px"> Like many other Google web applications, Google Maps uses JavaScript extensively.[14] As the user drags the map, the grid squares are downloaded from the server and inserted into the page. When a user searches for a business, the results are downloaded in the background for insertion into the side panel and map; the page is not reloaded. Locations are drawn dynamically by positioning a red pin (composed of several partially transparent PNGs) on top of the map images. A hidden IFrame with form submission is used because it preserves browser history. The site also uses JSON for data transfer rather than XML, for performance reasons. These techniques both fall under the broad Ajax umbrella. The result is termed a slippy map[15] and is implemented elsewhere in projects like OpenLayers.</p>
          <br><br>

          <h6> RQUISITOS </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm font12px"> In Google Maps, URL parameters are sometimes data-driven in their limits and the user interface presented by the web may or may not reflect those limits. In particular, the zoom level (denoted by the z parameter) supported varies. In less populated regions, the supported zoom levels might stop at around 18. In earlier versions of the API, specifying these higher values might result in no image being displayed. In Western cities, the supported zoom level generally stops at about 20. In some isolated cases, the data supports up to 23 or greater, as in these elephants or this view of people at a well in Chad, Africa. Different versions of the API and web interfaces may or may not fully support these higher levels.</p>
          <br><br>

          <h6> ¿A QUIEN ESTÁ DIRIGIDO? </h6>
          <div class="text-primary subrayado-min"></div>
          <br>
          <p class="margin-l1cm font12px"> The Google Maps terms and conditions[132] state that usage of material from Google Maps is regulated by Google Terms of Service[133] and some additional restrictions. Google has either purchased local map data from established companies, or has entered into lease agreements to use copyrighted map data. The owner of the copyright is listed at the bottom of zoomed maps. For example street maps in Japan are leased from Zenrin. Street maps in China are leased from Mapabc. Russian street maps are leased from Geocentre Consulting and Tele Atlas. Data for North Korea is sourced from the companion project Google Map Maker.</p>
          <br><br>

      </div>
      