 


  <div class="col-md-10">
  </div>
  <div class="col-md-2 tabs">
     <ul class="tabs">
       <li class="tab col" title="Listado de evaluaciones del curso"> <a href="#listadoEvaluacionesCurso"><i class="fa fa-list"> </i></a></li>

        <li class="tab col" title="Evaluaciones por tabla del curso"> <a href="#tablasEvaluacionesCurso"><i class="fa fa-table"> </i></a></li>   
      </ul>
  </div>   



    <!-- Inicio del panel tablasEvaluacionesCurso -->  
    <div class="tab-pane" id="tablasEvaluacionesCurso">
                  
  
  <table class="table">
    <thead>
          <tr>
            <th>Evaluación</th>
            <th>Calificación</th>
            <th>Ultimo Intento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Quiz 1: Distancia Euclidiana</th>
            <td>15/20</td>
            <td>12/11/2014</td>
            <td>
              <form>
                <button type="button" id="presentar(id-curso-examen)" class="btn-group btn-primary btn-group-xs font12px"> PRESENTAR  </button>
                  <button type="button" id="feedback(id-curso-examen)" class="btn-group btn-info btn-group-xs font12px"> FEEDBACK  </button>
                </form> 
              </td>
          </tr>
           <tr>
            <th scope="row">Quiz 1: Distancia Euclidiana</th>
            <td>15/20</td>
            <td>12/11/2014</td>
            <td>
              <form>
                <button type="button" id="presentar(id-curso-examen)" class="btn-group btn-primary btn-group-xs font12px"> PRESENTAR  </button>
                  <button type="button" id="feedback(id-curso-examen)" class="btn-group btn-info btn-group-xs font12px"> FEEDBACK  </button>
                </form> 
              </td>
          </tr>
          
        </tbody>
  </table>





  </div>
       <!-- Fin del panel tablasEvaluacionesCurso -->

 

    <!-- Inicio Panel listadoEvaluacionCurso -->
    <div class="tab-pane" id="listadoEvaluacionesCurso">
                        
      <!--Inicio del acordion -->
      <div class="panel-group" id="accordionevaluaciones" role="tablist" aria-multiselectable="true">
          
          <!-- Aqui ira el for, cambiando el id="headingNumero", href="collapseNumero" -->

          
              <div class="panel">
              <div class="panel-heading" role="tab" id="evaluacionesheading1">
                <div class="row">
                 <div class="col-md-9">
                    <h4 class="panel-title">
                       <a data-toggle="collapse" data-parent="#accordionevaluaciones" href="#evaluacionescollapse1" aria-expanded="true" aria-controls="evaluacionescollapse1" > <b> Leccion 1: Distancia Euleriana </b> 
                       </a> 
                      </h4>
                  </div>
                </div>
              </div>

                    <div id="evaluacionescollapse1" class="panel-collapse collapse in" role="#tabpanel" aria-labelledby="evaluacionesheading1">
                 <div class="panel-body">

                    <!-- Inicio de las Evaluaciones -->
                      <div style="border-bottom: 1px solid #eeeeee;" >
                        <!-- Button trigger modal -->
                               <button type="button" class="btn modal-trigger btn-group btn-primary btn-ls" href="#modal5">
                                  Ver Instrucciones
                                </button>

                                <!-- Modal Trigger -->

                                  <!-- Modal Structure -->
                                  <div id="modal5" class="modal">
                                    <div class="modal-content">
                                    <h4>Distancias Euleriana</h4>
                                    <br>
                                    <p>Breve información del parcial</p>
                                  </div>
                                    <a href="#" class="waves-effect btn-flat modal-close">Agree</a>
                                  </div>
                      
                      <br>
                      <b>Fecha tope: 12 de Nov del 2014, 5:00pm</b>
                      <br><br>

                      <div class="row">
                        <div class="col-md-1">
                          
                           <span class="fa-stack ">
                               <i class="fa fa-circle fa-stack-2x text-danger"></i>
                               <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
                            </span>

                        </div>
                        <div class="col-md-8 font12px">
                          <p> Aqui sera una pequeña informacion del examen, pequeña muy pequeñita, muy muy muy pequeña </p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-2">
                         <b> Calificación</b>
                        </div>
                        <div class="col-md-4">
                           <b> Último intento</b>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          20/30
                        </div>
                        <div class="col-md-4">
                          11/11/2014 4:47pm
                        </div>
                        <div class="col-md-6">
                             <form>
                        <button type="button" id="presentar(id-curso-examen)" class="btn-group btn-primary btn-group-xs font12px" > PRESENTAR  </button>
                               <button type="button" id="feedback(id-curso-examen)" class="btn-group btn-info btn-group-xs font12px" > FEEDBACK  </button>
                          </form>
                        </div>
                      </div>
                    <br>
                  </div>
                  <!-- Fin Evaluaciones -->


                     <div style="border-bottom: 1px solid #eeeeee;" >
                     <br>
                        <!-- Button trigger modal -->
                               <button type="button" class="btn modal-trigger btn-group btn-primary btn-ls" href="#modal6">
                                  Ver Instrucciones
                                </button>

                                <!-- Modal Trigger -->

                                  <!-- Modal Structure -->
                                  <div id="modal6" class="modal">
                                    <div class="modal-content">
                                    <h4>Distancias</h4>
                                     <br>
                                    <p>Breve información del parcial</p>
                                  </div>
                                    <a href="#" class="waves-effect btn-flat modal-close">Agree</a>
                                  </div>
                 
                      <br>
                     <b> Fecha tope: 12 de Nov del 2014, 5:00pm </b>
                      <br><br>

                      <div class="row">
                        <div class="col-md-1">
                          
                           <span class="fa-stack ">
                               <i class="fa fa-circle fa-stack-2x text-danger"></i>
                               <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
                            </span>

                        </div>
                        <div class="col-md-8">
                          <p style="font-size: 12px;"> Aqui sera una pequeña informacion del examen, pequeña muy pequeñita, muy muy muy pequeña </p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-2">
                         <b> Calificación</b>
                        </div>
                        <div class="col-md-4">
                           <b> Último intento</b>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          20/30
                        </div>
                        <div class="col-md-4">
                          11/11/2014 4:47pm
                        </div>
                        <div class="col-md-6">
                             <form>
                        <button type="button" id="presentar(id-curso-examen)" class="btn-group btn-primary btn-group-xs font12px" > PRESENTAR  </button>
                               <button type="button" id="feedback(id-curso-examen)" class="btn-group btn-info btn-group-xs font12px" > FEEDBACK  </button>
                          </form>
                        
                        </div>
                      </div>
                    <br>
                  </div>

               </div>
           </div>
          </div>



          <div class="panel">
              <div class="panel-heading" role="tab" id="evaluacionesheading2">
                <div class="row">
                 <div class="col-md-9">
                    <h4 class="panel-title">
                       <a data-toggle="collapse" data-parent="#accordionevaluaciones" href="#evaluacionescollapse2" aria-expanded="true" aria-controls="evaluacionescollapse2" > <b> Leccion 1: Distancia Euleriana </b> 
                       </a> 
                      </h4>
                  </div>
                </div>
              </div>

              <div id="evaluacionescollapse2" class="panel-collapse collapse in" role="#tabpanel" aria-labelledby="evaluacionesheading2">
                 <div class="panel-body">



                    <!-- Inicio de las Evaluaciones -->

                       <!-- Button trigger modal -->
                               <button type="button" class="btn modal-trigger btn-group btn-primary btn-ls" href="#modal7">
                                  Ver Instrucciones
                                </button>

                                <!-- Modal Trigger -->

                                  <!-- Modal Structure -->
                                  <div id="modal7" class="modal">
                                    <div class="modal-content">
                                    <h4>Distancias</h4>
                                     <br>
                                    <p>Breve información del parcial</p>
                                  </div>
                                    <a href="#" class="waves-effect btn-flat modal-close">Agree</a>
                                  </div>
                 
                      <br>
                      <b>Fecha tope: 12 de Nov del 2014, 5:00pm</b>
                      <br><br>

                      <div class="row">
                        <div class="col-md-1">
                          
                           <span class="fa-stack ">
                               <i class="fa fa-circle fa-stack-2x text-danger"></i>
                               <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
                            </span>

                        </div>
                        <div class="col-md-8 font12px">
                          <p> Aqui sera una pequeña informacion del examen, pequeña muy pequeñita, muy muy muy pequeña </p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-2">
                          <b>Calificación</b>
                        </div>
                        <div class="col-md-4">
                          <b>  Último intento</b>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          20/30
                        </div>
                        <div class="col-md-4">
                          11/11/2014 4:47pm
                        </div>
                        <div class="col-md-6">
                             <form>
                        <button type="button" id="presentar(id/curso/examen)" class="btn-group btn-primary btn-group-xs font12px"> PRESENTAR  </button>
                               <button type="button" id="feedback(id/curso/examen)" class="btn-group btn-info btn-group-xs font12px" > FEEDBACK  </button>
                          </form>
                        
                        </div>
                      </div>
                    <br><br>

                  <!-- Fin Evaluaciones -->

               </div>
           </div>
          </div>

        </div>
        <!-- fin del acordion -->
                        
  </div>
      <!-- Fin de listadoEvaluacionCurso -->
