
<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "usuarios" %>
 
<% end %>
<div class="row pad30">
  <div class="col-md-3 col-lg-3">
    <%= render "usuarios/application/panelPersonal" %>
    
  </div>
  <div class="col-md-8 col-lg-8 no-padding">
        <div class="tab-simple">
          <div class="row">
            <div class="col-md-12 border">
                 <h4 class="blue-text accent-1 text-uppercase"> Configurando Perfil</h4>
             </div>

              <form name="nuevo_material" method="post" multipart="true" action="">

                 <div class="row">
                  <br>
                  <div class="col s12">
                        <div class="col s1 form-control">
                           Imagen:
                        </div>
                        <div class="col s6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                  <span class="btn btn-primary btn-file"><span class="fileupload-new">Seleccionar Archivo</span>
                                   <span class="fileupload-exists">Cambiar</span>         <input type="file" id="file_url" name="foto" accept="image/*"  /></span>
                                  <span class="fileupload-preview"></span>
                                   <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                              </div> 

                        </div>
                    </div>

                  <div class="col s12">
                    <div class="form-control col s5">
                      <label for="nombre_usuario">Nombre y Apellido: </label>
                      <input id="nombre_usuario" type="text" required>
                      
                  </div>
                  <div class=" form-control col s5">
                      <label for="ocupacion_usuario">Ocupación: </label>
                      <input id="ocupacion_usuario" type="text" required>                  
                  </div>
                </div>

                <div class="col s12">
                  <br><br>
                   <div clas="form-control col s2"> Sexo: </div>
                    <div class=" col s2">
                      <input name="sexo_usuario" type="radio" id="sexo_usuario_1" checked  />
                      <label for="sexo_usuario_1">Masculino</label>
                    </div>
                    <div class="col s2">
                      <input name="sexo_usuario" type="radio" id="sexo_usuario_0" />
                      <label for="sexo_usuario_0">Femenino</label>
                    </div>
                </div>

                <div class="col s12 form-control">
                     <div class=" col s5">
                        <label>Intereses</label>
                        <textarea id="intereses_usuario" class="materialize-textarea"></textarea>                
                      </div>

                      <div class="form-control col s5">
                        <br>
                         <label for="correo_usuaio"> Correo: </label>
                        <input id="correo_usuario" type="email" required>
                       
                    </div>
                </div>

                <div class="col s12">
                    <br><br><br>
                    <div class="form-control col s5">
                      <label for="clave_usuario">Clave: </label>
                      <input id="clave_usuario" type="password" required>
                      
                  </div>
                  <div class=" form-control col s5">
                      <label for="claveconfirmacion_usuario">Confirmar Clave: </label>
                      <input id="claveconfirmacion_usuario" type="password" required>                  
                  </div>
                </div>

                <div class="col s12">
                    <br><br><br>
                    <div class="form-control col s5">
                      <label for="preguntasecreta_usuario">Pregunta Secreta:: </label>
                      <input id="preguntasecreta_usuario" type="text" required>
                      
                  </div>
                  <div class=" form-control col s5">
                      <label for="respuestaasecreta_usuario">Respuesta Secreta: </label>
                      <input id="respuestaasecreta_usuario" type="text" required>                  
                  </div>
                </div>

                <div class="col s12">
                    <br><br>
                    <div class="form-control col s5">
                      <label for="facebook_usuario">Facebook: </label>
                      <input id="facebook_usuario" type="text">
                      
                  </div>
                  <div class=" form-control col s5">
                      <label for="twitter_usuario">Usuario Twiiter: </label>
                      <input id="twitter_usuario" type="text">                  
                  </div>
                </div>

                <div class="col s12">
                    <br><br>
                    <div class="form-control col s5">
                      <label for="web_usuario">web: </label>
                      <input id="web_usuario" type="text">
                      
                  </div>
                
                </div>
              </div> 
<br> <br>
                <div class="form-control block-center">
                   
                                    <a href="" class="btn btn-success">Guardar</a>
                                    <a href="" class="btn btn-info Closed" data-dismiss="modal">Cancelar</a> 
                          </div>
              
              </form>


           </div> 
       


        </div>




  </div>

  <div class="col-md-12 col-lg-12">
       <%= render "usuarios/application/panelCurso" %>
  </div>


</div>

<% content_for :js_personalizado do %>
<%= javascript_include_tag 'usuarios' %>
 

  <script type="text/javascript">

  </script>

<% end %>

