<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Editar preferencias</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Preferencias</li>
    </ol>
  </div>
</div>

<div class="pad15"></div>
<div class="row">
	<div class="col s7">
		<form action="javascript:void(0)" method="post">
			<label>Quién puede ver mi perfil</label>
			<select>
				<option>Cualquier persona</option>
				<option>Solo usuarios registrados</option>
				<option>Solo yo</option>
			</select>
			<label>Enviarme un correo cuando se notifique </label>
		</form>
	</div>
</div>