<nav>
    <div class="nav-wrapper">
      <a href="javascript:void(0)" class="brand-logo">
      	<img src="/assets/logo-header.png"/>Learning
      </a>
      <a class="activar-busqueda" href=""><i class="mdi-action-search"></i></a>
      <% if usuario_signed_in? %>
      <ul id="nav-mobile" class="right side-nav">
        <li><a href="sass.html"  class="no-effect"><i class="mdi-social-notifications"></i></a></li>
        <li><a href="sass.html"  class="no-effect"><i class="mdi-communication-email"></i></a></li>
        <li class="dropdown">
        	<a href="javascript.html" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"  class="no-effect">
        		<div class="media logged-in-usuario">
        			<div class="media-left">
						<img src="/assets/avatar2.jpg" class="img-circle" alt=""/>
					</div>
					<div class="media-body">
						<h6 class="media-heading">Andrea Gomez</h6>
						<span class="rol">rol</span>
					</div>
				</div>
        	</a>
        	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			</ul>
        </li>
      </ul>
      <% else %>
      	<ul id="nav-mobile" class="right side-nav">
	        <li><a href="sass.html"  class="no-effect">Ofertas de estudio</a></li>
	        <li><a href="sass.html">Registrarse</a></li>
	        <li><a href="javascript.html">Iniciar sesi&oacute;n</a></li>
	      </ul>
      <% end %>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
