<aside id="sidebar-menu">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="javascript:void(0)"><span><i class="mdi-action-home"></i> Opcion del menu</span></a></li>
		<li class="active"><a href="javascript:void(0)"><span><i class="mdi-action-language"></i> Opcion del menu</span></a></li>
		<li><a href="javascript:void(0)"><span><i class="mdi-action-language"></i> Opcion del menu</span></a></li>
		<li><a href="javascript:void(0)"><span><i class="mdi-action-language"></i> Opcion del menu</span></a></li>
		<li><a href="javascript:void(0)"><span><i class="mdi-action-language"></i> Opcion del menu</span></a></li>
		<li><a href="javascript:void(0)"><span><i class="mdi-action-language"></i> Opcion del menu</span></a></li>
	</ul>
</aside>