<!DOCTYPE html>

<html>
<head>
	
<style type="text/css">

</style>
	<title>Cursos y especializaciones</title>
	
	  <link href="/assets/bootstrap-blue.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/materialize.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/bootstrap-blue-theme.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/font-awesome.min.css?body=1" media="screen" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Roboto" media="screen" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:600" media="screen" rel="stylesheet" />

 <link href="/assets/cursos.css" media="screen" rel="stylesheet" />

</head>
<body>
	
    
   
	<div class="container-fluid">
	
	<div class="row">

  <div class="col-md-8">
<br>
<br>
<h3>Cursos y Especializaciones </h3>
</div>

 <div class="col-md-4">
 <br>
  <br>

  

<div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input class="form-control" type="text" placeholder="Que quieres aprender?">
</div>
 
</div>

</div>

<div class="row">



	<div  class="col-md-2">
	<br>
<br>
	<form>
		<ul>

<h5>Categoria</h5>



<li><input id="" type="checkbox" name="categoria" value="1">Todos</li>

<li><input type="checkbox" name="categoria" value="2">Servicios</li>

<li><input type="checkbox" name="categoria" value="3">Desarrollo Web</li>

<li><input type="checkbox" name="categoria" value="4">Interfaz de Usuario</li>

</ul>

</form>

<form>
	<br>


	<ul>
	<h5>Costo</h5>
	

<input type="checkbox" name="costo" value="1">Pago

<li><input type="checkbox" name="costo" value="2">Gratuito</li>
	</ul>
	</form>



<form>
	<br>

	<ul>
		<h5>Nivel de dificultad</h5>
		
		<li><input type="checkbox" name="nivel" value="1">Basico</li>
	
		<li><input type="checkbox" name="nivel" value="2">Intermedio</li>
			<li><input type="checkbox"  name="nivel" value="3">Avanzado</li>


	</ul>
</form>

</div>

<div class="col-md-10">

	<br>
	<ul class="pager">
  <li ><a href="#">&larr; </a></li>
  <li ><a href="#"> &rarr;</a></li>
</ul>
<br>


          <h4>Recomendado para ti.</h4>  
        

         <div class="col-md-4">
 <br>


    <li >
        <a href=""class=" fa fa-heart fa-2x pull-right  " >  
         
          <img  src="/assets/curso1.jpg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructora1.png" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Any Torres </h6>
		  <h5>Curso: Introduccion al Desarrollo web </h5>
          <li >
           	 <h5 align=right >950bs   </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>

       <br>
       <br>

  <li >
        <a href=""class=" fa fa-heart fa-2x pull-right  " >  
         
          <img  src="/assets/curso1.jpg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructora1.png" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Any Torres </h6>
		  <h5>Curso: Introduccion al Desarrollo web </h5>
           <li >
           	 <h5 align=right >950bs  </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" > 
           
      
  </li>
  </li>

       <br>
<br>

 <li >
        <a href=""class=" fa fa-heart fa-2x pull-right  " >  
         
          <img  src="/assets/curso1.jpg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructora1.png" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Any Torres </h6>
		  <h5>Curso: Introduccion al Desarrollo web </h5>
          <li >
           	 <h5 align=right >950bs  </h5>
           	  <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>

           
  

    </div>

    <div class="col-md-4">
    	 <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso4.jpeg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso: Android Lollipop </h5>
          <li >
           	 <h5 align=right >1500bs   </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>

       <br>
       <br>
 	 <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso4.jpeg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso: Android Lollipop </h5>
          <li >
           	 <h5 align=right >1500bs   </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>
    
       <br>
       <br>
 	 <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso4.jpeg" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso: Android Lollipop </h5>
          <li >
           	 <h5 align=right >1500bs   </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>
   
         </div>
           		

<div class="col-md-4">



 <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso5.png" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso: Api de google maps </h5>
          <li >
           	 <h5 align=right >1500bs  </h5>
           	  <img src="/assets/etiqueta.png"  class="etiqueta" >
           
      
  </li>
  </li>
  <br>
    <br>
   <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso5.png" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso: Api de google maps </h5>
          <li >
           	 <h5 align=right >1500bs  </h5>
           	 <img src="/assets/etiqueta.png"  class="etiqueta" > 
           
      
  </li>
  </li>
    <br>
    <br>
  <li >
        <a href=""class=" fa fa-heart-o fa-2x pull-right  " >  
         
          <img  src="/assets/curso5.png" class="img-curso"     >
          <br clear=all>
       </a>
       
        <a> 
          <img  src="/assets/instructor3.jpeg" class="redondo" >  
        </a> 
 		 
 		  <h6>Ing. Richar Sanz</h6>
		  <h5>Curso:Api de google maps </h5>
         
         <li >
           	 <h5 align=right >1500bs  </h5>
            <img src="/assets/etiqueta.png"  class="etiqueta" >
      
  </li>

   </li>  



</div>
<div class="text-center">
	<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>
</div>
</div>







</div>
	

</body>
</html>